<body>
        <div>
            <a action="backToHome" href="http://localhost:6969/">AAAAAAAAAAAAAAAAAAAAAAAAAAA</a>
        </div>
        <div>
            <h1>Deu certo!</h1>
            <p>Suas imagens foram digitalizadas e transformadas em texto.<br>Obrigado por utilizar essa API! :D
            </p>
        </div>
        
    </form>
</body>
</html>